body {
    font-family: "Raleway", sans-serif;
    /* font-family: "Lato", sans-serif; sub heading */
}

.container {
    display: flex;
    width: 800px;
    margin: 20px auto;
    border: 1px solid ;
    padding-top: 60px;
    padding-left: 60px; 
}

h1 {
    font-weight: bold;
    padding-left: 10px;
}

h3 {
    padding-left: 10px;
    font-weight: bold;
}

p {
    margin-bottom: 0%;
    padding-left: 10px;
}

hr {
    height: 2px;
    border-width: 1px;
    background-color: black;
}

.contanier-left {
    height: 100%;
    width: 50%;
    background-color: lightgray;
}

.container-right {
    padding-left: 10px;
    height: 100%;
    width: 70%;
    margin-right: 70px;
}

.lh0{
    line-height:0px;
}

.logo {
    margin-left: 80%;
    margin-top: 50%;
}