.container {
    display: flex;
    padding-top: 60px;
    padding-left: 60px; 
}

h1 {
    font-weight: bold;
    padding-left: 10px;
}

h3 {
    padding-left: 10px;
    font-weight: bold;
}

p {
    /* margin-bottom: 0rem; */
    margin-bottom: 0%;
    padding-left: 10px;
}

span {
    margin-bottom: 0%;
    padding-left: 10px;
}

hr {
    height: 2px;
    border-width: 1px;
    background-color: black;
}

.contanier-left {
    height: 100%;
    width: 400px;
    background-color: grey;
}

.container-right {
    padding-left: 10px;
    height: 100%;
    width: 100%;
}